/.vscode
/.vsconfig
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assets.zip
/db1.db
/Library
/Logs
/obj
/Optim Structure - Inspection reporter-2.sln
/Optim Structure - Inspection reporter-2L.sln
/owchks.sln
/Packages
/ProjectSettings
/scanner.apk
/Temp
/UserSettings